<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Conversor customizado -->
    <conversionRule
            conversionWord="coffeeHighlight"
            converterClass="com.quitto.server.infrastructure.config.logger.CoffeColorConverter"/>

    <!-- Padrão do console -->
    <property
            name="CONSOLE_LOG_PATTERN"
            value="%clr([%d{HH:mm:ss}]){faint} %clr([${spring.application.name}]){blue} %clr([${spring.application.group}]){magenta} %clr([%thread]){cyan} %clr([%X{module:-SYSTEM}]){green} %coffeeHighlight([%-5level]) %clr(:){faint} %clr(%logger{0}){yellow} %clr(-){faint} %clr(%msg){white}%n"/>

    <!-- Padrão do arquivo -->
    <property
            name="FILE_LOG_PATTERN"
            value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [${spring.application.name}] [${spring.application.group}] [%thread] [%X{module:-SYSTEM}] [%-5level] : %logger{0} - %msg%n"/>

    <!-- Console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Arquivo (caso você use um FileAppender depois) -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>

        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
